@require './var/color.styl';
@require './icon/icon.styl';
@require './icon/pepmdx-icons.styl';
@require './mixin.styl';
@require './ui/layout.styl';
@require './ui/chart.styl';
@require './ui/panel.styl';
@require './ui/sidebar.styl';
@require './ui/card.styl';

.el-date-editor .el-range-separator {
  padding: 0px !important;
}

html {
  box-sizing: border-box;
}

// *, *:before, *:after {
// margin: 0px;
// box-sizing: inherit;
// }
div:focus {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a, a:focus, a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}
