@require './var/color.styl';
@require './icon/icon.styl';
@require './icon/pepmdx-icons.styl';
@require './mixin.styl';
@require './ui/base.styl';
@require './ui/page.styl';
@require './ui/chart.styl';
@require './ui/panel.styl';
@require './ui/card.styl';
@require './ui/att.styl';
@require './ui/dn-table.styl';

.el-date-editor .el-range-separator {
  padding: 0px !important;
}

*, :after, :before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

div:focus {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a, a:focus, a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.color-green {
  color: $color-green;
}

.color-red {
  color: $color-red;
}

.bg-primary {
  background-color: $color-primary !important;
}

.bg-green {
  background-color: $color-green !important;
}

.bg-red {
  background-color: $color-red !important;
}

.card-bottom {
  margin-bottom: 16px;
}

