.att-list-item__meta {
  display: flex;
  align-items: center;

  .att-media {
    margin-right: 16px;
  }

  .title {
    font-weight: 600;
    color: $color-primary-dark;
    font-size: 15px;
  }
}

.att-list-table {
  .el-table__header-wrapper {
    tr {
      background-color: $color-light-grey-sss;
    }
  }
}

.att-desc-list {
  &__list {
    display: flex;
    text-align: center;
  }

  &__item {
    flex: 1;
    list-style: none;
  }

  &__desc {
    margin-top: 8px;
    font-size: 14px;
    color: $color-primary-dark;
  }

  &__num {
    font-size: 20px;
    font-weight: 600;
    color: $color-primary;
  }
}

.el-card
  .el-card__header
    span
      font-weight: 600
      color: $color-primary-dark;
