.att-list-item__meta {
  display: flex;
  align-items: center;

  .att-media {
    margin-right: 16px;
  }

  .title {
    font-weight: 600;
    color: $color-primary-dark;
    font-size: 15px;
  }
}

.att-list-table {
  .el-table__header-wrapper {
    tr {
      background-color: $color-light-grey-sss
    }
  }
}
