html, body, #app, .layout {
  flex-grow: 1;
  display: flex;
  height: 100%;
}


.app-main {
  min-height: 100%;
}

.bg--gray {
  background: $color-light-grey-sss;
}

.el-radio-group {
  vertical-align: top;
}

