.card {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  border-radius: 2px;
  position: relative;
  transition: all 0.3s;

  &__header {
    padding: 24px 32px;
  }

  &__body {
    transition: padding 0.3s;
    padding: 24px 32px;
    zoom: 1;
    clearfix();
  }
}
