.el-card {
  // font-size: 14px;
  // line-height: 1.5;
  // color: rgba(0, 0, 0, 0.65);
  // box-sizing: border-box;
  // margin: 0;
  // padding: 0;
  // list-style: none;
  // background: #fff;
  // border-radius: 2px;
  // position: relative;
  // transition: all 0.3s;
  // border-color: $color-light-grey-ss;
  box-shadow: none;
  border-radius: 0px;

  &__header {
    border-color: $color-light-grey-sss;

    span {
      font-weight: 600;
      color: $color-primary-dark;
    }
  }
}

.timesguide__list {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
}
