.dn-table {
  .timesguide {
    width: 80px;
    height: 180px;
  }

  .userinfo {
    text-align: center;

    &__avatar {
      width: 64px;
      height: 64px;
      border-radius: 100%;
    }

    &__name {
      font-size: 14px;
    }
  }
}

.dn-dialog {
  .timesguide {
    width: 100%;
  }
}
