.dn-table {
  .timesguide {
    width: 80px;
    height: 180px;
  }

  .userinfo {
    text-align: center;

    &__avatar {
      width: 64px;
      height: 64px;
      border-radius: 100%;
    }

    &__name {
      font-size: 14px;
    }
  }
}

.dn-dialog {
  .timesguide {
    width: 100%;
  }
}

.forecast-num {
  // width: 100;
  display: flex;
  border: 1px solid $color-primary-s;
  // border-radius: 5px;
  overflow: hidden;
  color: $color-primary-dark;

  &__item {
    flex: 1;
    text-align: center;

    &:nth-child(even) {
      background-color: $color-light-grey-sss;
    }
  }

  &__num {
    font-weight: 600;
  }

  &__day {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: $color-primary-s;
    color: $color-dark-primary;
  }

  &__mk {
    // background-color: $color-primary;
  }
}
