.timesguide-dropdown {
  .el-select-dropdown__list {
    display: flex;
    flex-wrap: wrap
  }

  .el-select-dropdown__item {
    display: flex;
    height: 100px;

    img {
      width: 50px;
    }
  }
}
