.app-wrapper {
  clearfix();
  position: relative;
  height: 100%;
  width: 100%;
}

.app-container {
  &.bg--gray {
    background: $color-light-grey-sss;
  }
}

.page-header {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 15px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  padding: 20px;
  background: #FFF;
}
