.app-wrapper {
  clearfix();
  position: relative;
  height: 100%;
  width: 100%;
}

.app-main {
  min-height: 100%;
}

.layout {
}

.layout-content {
  flex: auto;
}

.bg--gray {
  background: $color-light-grey-sss;
}

.page-header {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 15px;
  padding: 20px;
  background: #FFF;
}

.page-content {
  margin: 24px 24px 0;
}

.page {
}
