.app-wrapper {
  clearfix();
  position: relative;
  height: 100%;
  width: 100%;
}

.filter-container {
  border-bottom: 2px solid $color-light-grey-ss;
  margin-bottom: 15px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
}


