.page {
  &-sidebar {
    width: 240px;
    height: 100%;
    position: relative;
    background: $color-light-grey-ss;
    flex-shrink: 0;
    height: inherit;
    flex-direction: column;
    position: relative;
    display: flex;
    transition: all 0.15s;

    &__lists {
      flex-grow: 1;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      flex: 1;
      overflow: auto;
    }
  }

  &-main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: inherit;
    flex: 1;
  }

  &-header {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 15px;
    padding: 20px;
    background: #FFF;
  }

  &-content {
    // flex: 1;
    display: flex;
    overflow: hidden;
    // flex-grow: 1;
    flex-direction: column;
        // overflow-y: auto;
        // overflow: hidden;
  }

  &__inner {
     overflow-y: auto;
    // width: 100%;
  }
}
