#app {
  // 主体区域
  .main-container {
    min-height: 100%;
    transition: margin-left 0.28s;
    margin-left: 256px;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: 256px !important;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    background: $color-primary-dark;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);

    a {
      display: inline-block;
      width: 100%;
    }

    .el-menu {
      border: none;
      width: 100%;
    }

    .logo {
      background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
      line-height: 64px;
      height: 64px;
      overflow: hidden;
      text-align: center;

      .icon {
        color: #FFF;
        font-size: 36px;
        margin-right: 5px
      }

      .title {
        display: inline-block;
        color: #FFF;
        font-size: 19px;
        vertical-align: top;
        font-weight: 600;
      }
    }
  }

  .el-submenu {
    // background-color: $color-dark-grey;
    .icon--pep {
      margin-right: 8px;
    }

    &.is-opened {
      .el-submenu__title {
        .icon--pep, span, i {
          color: #FFF;
        }
      }
    }

    .icon--pep, span, i {
      color: rgba(255, 255, 255, 0.55);
      transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &__title {
      background-color: $color-primary-dark !important;

      &:hover {
        .icon--pep, span, i {
          color: #FFF !important;
        }

        background-color: $color-primary-dark !important;
      }
    }

    .el-menu-item {
      height: 40px;
      line-height: 40px;
      padding-left: 48px !important;
      background-color: darken($color-primary-dark, 10) !important;

      &:hover {
        .icon--pep, span, i {
          color: #FFF !important;
        }
      }

      &.is-active {
        background-color: $color-primary !important;

        .icon--pep, span, i {
          color: #FFF;
        }
      }
    }
  }

  .hideSidebar {
    .sidebar-container, .sidebar-container .el-menu {
      width: 36px !important;
      // overflow: inherit;
    }

    .main-container {
      margin-left: 36px;
    }

    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;

      span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
        opacity: 0;
        display: inline-block;
      }

      &:hover {
        span {
          display: block;
          border-radius: 3px;
          z-index: 1002;
          width: 140px;
          height: 56px;
          visibility: visible;
          position: absolute;
          right: -145px;
          text-align: left;
          text-indent: 20px;
          top: 0px;
          background-color: $subMenuBg !important;
          opacity: 1;
        }
      }
    }

    .el-submenu {
      &>.el-submenu__title {
        padding-left: 10px !important;

        &>span {
          display: none;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }

      .nest-menu {
        .el-submenu__icon-arrow {
          display: block !important;
        }

        span {
          display: inline-block !important;
        }
      }
    }
  }
}
